/* #signup-button {
    background-color: red;
}

#login-button {
    background-color: blue;
}

#signup-form {
    background-color: red;
}

#login-form {
    background-color: blue;
} */

/* #login-container {
    background-color: rgba(89, 91, 92, 0.3);
    
}

#signup-row {
    background-color: rgba(10, 10, 10, 0.3)
}
#signup-button {
    background-color: rgba(10, 10, 10, 0.3)
} */